/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {box-sizing: border-box;}

body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li img {
	height: 22px;
	width: 22px;
}

nav li a {
	color: inherit;
    text-decoration: none;
}
li a:hover {
	color: #B1663C;
}
.active {
	font-weight: 700;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/************** Formulaire login ***********/
#form-login  {
	width: 50%;
	margin: auto;
}
#form-login   > * {
	text-align: center;

}
#form-login  h2{
	margin-bottom: 20px;
}
#form-login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#form-login  input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#form-login label {
	margin: 2em 0 1em 0;
}
#form-login a {
	display: block;
	color: #3D3D3D;
	font-weight: 500;
}
#form-login [type="submit"] {
	font-size: 14px;
	height: 36px;
}

/*******Boutons filtres************/

.btn-filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
}
	
.btn-filtres button {
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: transparent;
	text-align: center;
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
	height: 37px;	
	min-width: 100px;
	padding: 0px 10px 0px 10px;
}


.btn-active {
	background-color:#1D6154 !important;
	color: white !important;
}

/****** Mode édition ***************/

.mode_edition p {
	color: white;
	font-size: 16px;
}


.titre-edition {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	gap: 30px;
}

.admin-mode .titre-edition{
	padding-bottom: 80px;
}

.titre-edition a {
	display: none;
	color: inherit;
	text-decoration: none;
}

.admin-mode .mode_edition {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 59px;
	width: 100% ;
	background-color: black;
}

.admin-mode .modifier {
	display: block;
}

.admin-mode .btn-filtres {
	display: none;
	
}

/************** fenêtre modale *************/
.style-modale {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modale-wrapper {
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	border-radius: 10px;
	padding: 20px 20px;
}
.modale-wrapper [type="submit"],
.btn-ajout-photo  {
	height: 36px;
	width: 237px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-size: 14px;
}

.modale-wrapper h3 {
	display: flex;
	justify-content: center;
	font-size: 26px;
	font-family: Work Sans;
}

.ligne {
	border: 1px solid #B3B3B3;
	width: 420px;
}

/************** button-modal *********/
.button-modal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
/****** Close modale ********/
.close-modal i {
	font-size: 24px;
}

.close-modal {
	margin-left: auto;
}

.close-modal, .retour-modal {
	border: none;
	background-color: transparent;
}
/******** Retour modale *****/
.fa-arrow-left {
	font-size: 21px;
}


/************** modale zone1 et zone 2 *************/

.modal-zone1, 
.modal-zone2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/************** modale-zone1 **************/
.projets-delete {
	height: auto;
	width: 420px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-ajout-photo {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px;
}

/************** modale-zone2 **************/
/****** Input *******/
.modal-zone2 form {
	margin-top: 40px;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal-zone2 form input, #Categorie {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.champs-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	margin-top: 15px;
	gap: 10px;
}
/******* Cacher modale zone 1, zone 2 et retour-modal (flèche)***/
.modal-zone1,
.modal-zone2,
.retour-modal {
	display: none;
}

/****** fomulaire Ajout photo *******/
.ajout-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	gap: 10px;
}

.ajout-photo i {
	font-size: 76px;
}
.ajout-photo button {
	border: none;
	background-color: #CBD6DC;
	border-radius: 50px;
	color: #306685;
	font-family: Work Sans;
	font-size: 14px;
	width: 173px;
	height: 36px;
}

.ajout-photo p {
	font-size: 10px;
	font-family: Work Sans;
	color: #444444;
}
